/* image shit */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    width: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1em;
    background-color: white;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 100px;
}

#img-carousel {
    transition: ease-in-out 0.7s;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 500vw;
    height: 100%;
}

.carousel-imgs {
    width: 100vw;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.img {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.foreground {
    position: absolute;
    z-index: 1;
}
.background {
    filter: grayscale(100%);
    z-index: 0;
}

#down-arrow {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 90vh;
    fill: var(--text);
    animation: ease-in-out bounce 5s infinite;
    animation-delay: 2s;
    z-index: 3; 
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -20px);
    }
    20% {
        transform: translate(0, 0);
    }
    30% {
        transform: translate(0, -20px);
    }
    40% {
        transform: translate(0, 0);
    }
}

/* left bar shit */

#gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 2;
}

#left-bar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    align-items: left;
    margin: 1vw;
 }

#button-holder {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    border-radius: 100px;
    font-size: var(--h5);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    border: solid gray 1px;
    color: var(--text);
    z-index: 3;
    transition: ease-in-out 0.2s;
}
button:hover {
    border: solid var(--primary) 1px;
    transition: ease-in-out 0.1s;
}
.selected {
    background-color: var(--accent);
}